In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from scipy import stats
import seaborn as sns
from scipy.linalg import sqrtm
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
reviews = pd.read_csv('reviews_en_polarity.csv')
reviews.head()

/Applications/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,listing_id,id,date,reviewer_id,reviewer_name,comments,language,polarity
0,2384,25218143,2015-01-09,14385014.0,Ivan,it's a wonderful trip experience. I didn't exc...,en,0.9489
1,2384,28475392,2015-03-24,16241178.0,Namhaitou,This is my first trip using Airbnb. I was a li...,en,0.9519
2,189821,536083,2011-09-16,124036.0,Jenny,Meighan was a great host! Communication was e...,en,0.9665
3,189821,550149,2011-09-20,911939.0,Bonnie,"Great apartment, wonderful, helpful host! It ...",en,0.9458
4,189821,577757,2011-09-28,938072.0,Lauren,Amazing apt. Very clean and comfortable. Would...,en,0.9407

In [3]:
reviews.shape

(330603, 8)

In [4]:
df_rec = reviews[['reviewer_id', 'listing_id', 'polarity']].copy(deep=True)
df_rec.nunique()

reviewer_id    296653
listing_id       6800
polarity         8741
dtype: int64

In [5]:
df_rec = df_rec.dropna()

In [6]:
df_rec['u_id'] = df_rec['reviewer_id']
df_rec['i_id'] = df_rec['listing_id']
df_rec['rating'] = df_rec['polarity']
df_rec['u_id'] = df_rec['u_id'].astype('int')
df_rec['i_id'] = df_rec['i_id'].astype('int')

In [7]:
df_rec = df_rec[["u_id", "i_id", "rating"]]
df_rec

             u_id                i_id  rating
0        14385014                2384  0.9489
1        16241178                2384  0.9519
2          124036              189821  0.9665
3          911939              189821  0.9458
4          938072              189821  0.9407
...           ...                 ...     ...
330598  476732857  700756881572123144  0.8605
330599  375433341  700844721317041969  0.6369
330600  244580123  700938257605355958  0.9678
330601  104702793  701009010450223333  0.6800
330602  441060413  701009010450223333  0.9611

[328898 rows x 3 columns]

In [25]:
df_rec.to_csv("rating.csv")

# Use SVD for Prediction

In [8]:
pip install git+https://github.com/gbolmier/funk-svd

Collecting git+https://github.com/gbolmier/funk-svd
  Cloning https://github.com/gbolmier/funk-svd to /private/var/folders/ct/8hnfxbqj6sj0_7lqw56c0c0c0000gn/T/pip-req-build-hciu_fh7
  Running command git clone --filter=blob:none --quiet https://github.com/gbolmier/funk-svd /private/var/folders/ct/8hnfxbqj6sj0_7lqw56c0c0c0000gn/T/pip-req-build-hciu_fh7
  Resolved https://github.com/gbolmier/funk-svd to commit fecc38ea1c2859ef6a6d9af0b7f953e1b693764e
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numba>=0.38.0 in /Applications/anaconda3/lib/python3.8/site-packages (from funk-svd==0.0.1.dev1) (0.53.1)
Requirement already satisfied: numpy>=1.14.3 in /Applications/anaconda3/lib/python3.8/site-packages (from funk-svd==0.0.1.dev1) (1.20.1)
Requirement already satisfied: pandas>=0.23.0 in /Applications/anaconda3/lib/python3.8/site-packages (from funk-svd==0.0.1.dev1) (1.2.4)
Requirement already satisfied: setuptools in /Applications/anaconda3/lib/python3.8/site-packages (from numba>=0.38.0->funk-svd==0.0.1.dev1) (52.0.0.post20210125)
Requirement already satisfied: llvmlite<0.37,>=0.36.0rc1 in /Applications/anaconda3/lib/python3.8/site-packages (from numba>=0.38.0->funk-svd==0.0.1.dev1) (0.36.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->funk-svd==0.0.1.dev1) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /Applications/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->funk-svd==0.0.1.dev1) (2021.1)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->funk-svd==0.0.1.dev1) (1.15.0)
WARNING: You are using pip version 22.0.4; however, version 22.3.1 is available.
You should consider upgrading via the '/Applications/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
from funk_svd.dataset import fetch_ml_ratings
from funk_svd import SVD
from sklearn.metrics import mean_absolute_error

In [10]:
train = df_rec.sample(frac=0.8, random_state=7)
val = df_rec.drop(train.index.tolist()).sample(frac=0.5, random_state=8)
test = df_rec.drop(train.index.tolist()).drop(val.index.tolist())

In [11]:
svd = SVD(lr=0.001, reg=0.005, n_epochs=100, n_factors=15,
          early_stopping=True, shuffle=False, min_rating=-1, max_rating=1)

In [12]:
svd.fit(X=train, X_val=val)

Preprocessing data...

Preprocessing data...

Epoch 1/100  | val_loss: 0.06 - val_rmse: 0.24 - val_mae: 0.15 - took 0.8 sec
Epoch 2/100  | val_loss: 0.06 - val_rmse: 0.24 - val_mae: 0.15 - took 0.0 sec
Epoch 3/100  | val_loss: 0.06 - val_rmse: 0.24 - val_mae: 0.15 - took 0.0 sec

Training took 2 sec

In [13]:
pred = svd.predict(test)

In [14]:
mae = mean_absolute_error(test['rating'], pred)

In [15]:
print(f'Test MAE: {mae:.2f}')

Test MAE: 0.15

In [16]:
len(pred)

32890

In [17]:
test['pred_rating'] = pred

In [18]:
test

             u_id                i_id  rating  pred_rating
14        1472130              189821  0.9689     0.891486
16         485527              189821  0.9877     0.962647
19        1497061              189821  0.8627     0.891486
22        2873370                2384  0.9809     0.860401
43       28889700                2384  0.9412     0.916040
...           ...                 ...     ...          ...
330534   68272318  694935619325721273  0.9176     0.822035
330553  116263256  696244611219279084  0.7074     0.822830
330566   11754573  706570652065975692  0.9136     0.822027
330573  261000069  697879132687950994  0.9133     0.821648
330589  383770550  699927757518228053  0.8820     0.823292

[32890 rows x 4 columns]

In [19]:
test.sort_values(by=['pred_rating'], ascending=False, inplace=True)

In [20]:
test

             u_id      i_id  rating  pred_rating
280582   50913281  44552556  0.6369     0.976259
139197   24493789  21169118  0.9468     0.968359
305726  219742843  50787434  0.6249     0.967840
145806  110720891  20649033  0.6369     0.966699
162321   30123260  24288027  0.9715     0.964649
...           ...       ...     ...          ...
206384  190651298  29093384  0.9231     0.651288
207458  456726994  29093384  0.7845     0.646732
89760   124923168  13635380 -0.2755     0.622893
90206   216603448  13635380  0.8955     0.613426
76448    53096711  13687910  0.8777     0.605464

[32890 rows x 4 columns]

# Recommend

In [21]:
df_rec.u_id.unique()

array([ 14385014,  16241178,    124036, ..., 375433341, 104702793,
       441060413])

In [22]:
list(df_rec.i_id.unique())

[2384,
 189821,
 7126,
 10945,
 12140,
 24833,
 25879,
 207218,
 28749,
 37738,
 207351,
 220333,
 225314,
 239140,
 250354,
 258253,
 67940,
 264547,
 71930,
 289689,
 289884,
 84042,
 94450,
 145659,
 290155,
 1356190,
 312192,
 345075,
 1361421,
 349265,
 350347,
 1392594,
 1461451,
 1502674,
 1502700,
 1554433,
 1573401,
 372929,
 404792,
 1584422,
 1591370,
 450648,
 464581,
 1614802,
 1620098,
 1623463,
 1648786,
 1663673,
 484898,
 507517,
 1668481,
 1678422,
 1721045,
 532862,
 542067,
 1732652,
 1759266,
 1759389,
 1769731,
 1772920,
 1773021,
 548905,
 1773025,
 1810118,
 584590,
 585353,
 1837153,
 585356,
 1854000,
 589939,
 628149,
 1921670,
 634310,
 640841,
 1944802,
 2011301,
 651742,
 662034,
 668262,
 697634,
 2062638,
 718224,
 2103986,
 2139407,
 724895,
 2189522,
 2208845,
 726376,
 2298310,
 2305194,
 2305230,
 727847,
 739495,
 2320027,
 755701,
 780063,
 790934,
 2396340,
 805890,
 805936,
 863120,
 872247,
 2437230,
 887038,
 2459132,
 903996,
 2471876,
 2479175,
 929914,
 2499596,
 931105,
 949514,
 2515629,
 960326,
 2519442,
 2543231,
 966137,
 979841,
 2564678,
 2583929,
 2604454,
 2611538,
 2661465,
 2679456,
 2693387,
 979926,
 2695259,
 2715815,
 2730613,
 979942,
 2731202,
 983640,
 2819982,
 2824585,
 2832376,
 2836339,
 2844042,
 2874486,
 1020810,
 1027405,
 1027463,
 1027741,
 1083987,
 1096191,
 2907112,
 2907500,
 1138252,
 1171860,
 2934604,
 3031898,
 1185749,
 3053081,
 1195259,
 1242709,
 1304049,
 1321332,
 3068787,
 3083343,
 3111197,
 3172794,
 4178970,
 4214683,
 3177497,
 3267902,
 4218075,
 4227003,
 4243309,
 4243905,
 4257285,
 3292054,
 4263439,
 3308694,
 3329088,
 4278432,
 4278818,
 4310601,
 3385966,
 4365466,
 3434136,
 4370895,
 4394093,
 4417718,
 4457161,
 4503414,
 4567558,
 4592031,
 3445991,
 3453656,
 3485081,
 4598631,
 3488317,
 3517984,
 4632510,
 4644849,
 4662201,
 4689162,
 4730797,
 3570616,
 4731523,
 4777997,
 4785815,
 3590692,
 3638744,
 4786970,
 3639045,
 3655706,
 3666681,
 3696178,
 4793938,
 3697283,
 3702848,
 4803582,
 3742513,
 4823301,
 4840199,
 4840753,
 3761023,
 4852830,
 3783099,
 3783533,
 4872152,
 4907692,
 4923963,
 4925062,
 4934975,
 5074013,
 3792844,
 3796879,
 5095370,
 3811926,
 5102125,
 5117490,
 5126218,
 5126592,
 5195252,
 5205377,
 3828422,
 3835961,
 3839128,
 5210927,
 3870522,
 3924599,
 3946324,
 3951336,
 3962072,
 5210931,
 3979385,
 5231461,
 5273709,
 5283285,
 5297152,
 5320006,
 3979425,
 4021636,
 5321981,
 4051574,
 4051584,
 5359984,
 4067870,
 5406217,
 4075630,
 5477370,
 4083903,
 4096995,
 5496659,
 4105283,
 5537682,
 5537683,
 4150121,
 5571262,
 5576190,
 5576191,
 5629872,
 5645139,
 4156913,
 5694572,
 5785758,
 5804791,
 6528832,
 5805991,
 5807478,
 5807548,
 5814832,
 6528867,
 6528967,
 6552046,
 5836043,
 6553226,
 5847065,
 5850897,
 6576714,
 5851115,
 6577697,
 6588681,
 5861971,
 5869607,
 5874798,
 6612044,
 6634916,
 6644005,
 5980645,
 5981743,
 6654182,
 5996942,
 6686012,
 6690014,
 6713251,
 6014028,
 6716477,
 6716705,
 6724355,
 6014128,
 6039038,
 6729727,
 6045978,
 6051322,
 6053269,
 6732036,
 6057908,
 6736478,
 6750168,
 6757098,
 6764230,
 6764833,
 6768827,
 6780171,
 6782452,
 6065318,
 6790448,
 6793653,
 6850958,
 6853688,
 6103492,
 6133986,
 6853914,
 6153674,
 6854069,
 6166734,
 6185638,
 6855475,
 6863046,
 6863178,
 6897078,
 6229085,
 6232258,
 6957805,
 6277018,
 6288917,
 6363328,
 6967492,
 6975132,
 6365974,
 6990105,
 6374350,
 6374890,
 6378085,
 6396451,
 6419072,
 6419804,
 6423299,
 6993421,
 6424931,
 6447131,
 6994290,
 6460914,
 6472628,
 7025225,
 6480445,
 6488146,
 6499322,
 6504170,
 7044056,
 6515667,
 7075936,
 7084894,
 6515813,
 6528643,
 8485642,
 8535066,
 8564722,
 8593314,
 8615657,
 8617633,
 8633981,
 8635380,
 8652541,
 8689532,
 7092080,
 7097488,
 7116810,
 7127223,
 7130456,
 7176158,
 8702851,
 7239181,
 8706915,
 7241887,
 7291481,
 8735904,
 7319042,
 8743145,
 7368625,
 8743754,
 8770382,
 8780493,
 8789070,
 8802052,
 7370245,
 7384649,
 8822479,
 7389646,
 7416788,
 7421326,
 8824905,
 7460396,
 7482058,
 7483739,
 7564825,
 8827052,
 7572706,
 7573465,
 7575577,
 7582520,
 7583774,
 7602989,
 8859482,
 8889577,
 8918966,
 8936044,
 7613172,
 8936446,
 7617158,
 8937824,
 7630479,
 7637490,
 8953380,
 7637618,
 8988738,
 7646381,
 9007351,
 7649812,
 7678127,
 9049864,
 7692835,
 7713047,
 7713352,
 7718819,
 9059696,
 7729906,
 7730115,
 9078918,
 7760721,
 7772110,
 7783924,
 9088488,
 9113705,
 9115645,
 7802208,
 9133070,
 7808921,
 7810030,
 9136731,
 9165281,
 9237067,
 9319078,
 7825273,
 9342355,
 7825308,
 9342966,
 7855198,
 7896539,
 9351265,
 9406789,
 9452418,
 7906341,
 7919400,
 7933932,
 9487892,
 9561663,
 9570922,
 9587656,
 9590401,
 7937969,
 7947804,
 9610654,
 9632414,
 9637023,
 9645880,
 7989457,
 9660334,
 9679005,
 8031382,
 9690523,
 9708726,
 9767819,
 8051756,
 8053055,
 9797971,
 8072314,
 8098937,
 8098969,
 8151461,
 9825135,
 8153968,
 9908933,
 8181598,
 9946053,
 9993846,
 9995220,
 10014344,
 10034077,
 10069247,
 8188570,
 8211104,
 8229081,
 8272970,
 10070422,
 8273329,
 8339990,
 10071396,
 8384692,
 8408521,
 10072035,
 10090801,
 8429764,
 10100747,
 8454437,
 10100835,
 10101026,
 10131101,
 8470408,
 8472766,
 11457931,
 11459685,
 10227627,
 11476089,
 10254486,
 11527162,
 11582953,
 11609854,
 11637237,
 10280979,
 10392060,
 10411427,
 11671188,
 11675937,
 11697616,
 11732807,
 11740335,
 10412689,
 10437238,
 11750869,
 10515185,
 10518084,
 11866232,
 11902507,
 10547772,
 11904373,
 11923150,
 10548699,
 10595206,
 10634388,
 10685564,
 10710405,
 10754882,
 11927345,
 11965767,
 10765065,
 10811900,
 10863022,
 11969085,
 10879699,
 11972493,
 10945786,
 11983838,
 10947455,
 12021281,
 12038184,
 12093618,
 10971749,
 10997225,
 12095628,
 12153109,
 12159371,
 11039276,
 11046830,
 11142450,
 12168659,
 11145640,
 11146518,
 11146814,
 12209795,
 12243016,
 11187498,
 12243431,
 12252435,
 11205769,
 11207835,
 11240415,
 12268349,
 12268908,
 12272478,
 12276273,
 11256815,
 11276504,
 12308104,
 12309410,
 12323073,
 12330769,
 12334385,
 12379595,
 12382366,
 12412316,
 12434982,
 12451721,
 12452076,
 12507128,
 12509442,
 11282049,
 11316564,
 12536277,
 11419164,
 11433385,
 11436765,
 11436834,
 11456952,
 13687910,
 12536610,
 12543743,
 12548411,
 12560787,
 12581064,
 13699494,
 13713501,
 12586766,
 12588033,
 12673204,
 12683444,
 12714714,
 12759999,
 13743298,
 12782772,
 12808357,
 12814682,
 12831376,
 12846495,
 12855435,
 13746300,
 12869290,
 13768369,
 12871814,
 13776092,
 13798441,
 12874125,
 13824783,
 12890850,
 12916554,
 12932496,
 13859218,
 12933857,
 13884932,
 13915441,
 13928644,
 12950970,
 13953306,
 13953596,
 13961352,
 12955743,
 13967723,
 13014320,
 13972956,
 14028571,
 14056171,
 13015160,
 13049456,
 14058443,
 13062802,
 14058848,
 14071876,
 13077320,
 13128883,
 13137589,
 13139438,
 13148936,
 13149571,
 13150401,
 13165625,
 13207526,
 13247627,
 13257515,
 14085322,
 13295757,
 13311675,
 13317058,
 13343525,
 14089727,
 14091465,
 13345749,
 14092623,
 14115665,
 14115706,
 13348367,
 14115711,
 14122332,
 14141704,
 14141861,
 13361661,
 14144295,
 13373997,
 14154418,
 14166242,
 13390160,
 13414718,
 13416789,
 13431644,
 13453259,
 13478467,
 13493868,
 13496433,
 13509392,
 14167586,
 13522012,
 14197548,
 13531342,
 14215568,
 14238448,
 13532621,
 13547280,
 13560789,
 13621242,
 14296844,
 13635380,
 14298102,
 14349670,
 14357876,
 14371699,
 13648548,
 13648600,
 14374899,
 14382622,
 14400814,
 14429433,
 14431243,
 13648645,
 14437950,
 13656154,
 14446269,
 14449619,
 14486985,
 14490847,
 14490975,
 13656318,
 14531526,
 13666998,
 15500209,
 15508656,
 14539561,
 15521681,
 14546442,
 14556304,
 15534374,
 15549085,
 15551602,
 14588581,
 15553336,
 14595303,
 14611960,
 14631349,
 14650845,
 15578702,
 15581842,
 14692738,
 14711066,
 15596076,
 15597127,
 15599810,
 15600903,
 15643384,
 15658650,
 15659073,
 15662488,
 15663486,
 15665494,
 15669026,
 14715067,
 14741430,
 15678106,
 14774756,
 15694333,
 14801668,
 15734423,
 15735536,
 14806923,
 15744964,
 15758556,
 15759558,
 15771536,
 14820957,
 15798238,
 14840423,
 15853679,
 15867158,
 15871357,
 14843458,
 14859319,
 14864741,
 14871197,
 15904833,
 15911102,
 14883494,
 14933038,
 14950449,
 15008013,
 15011149,
 15019977,
 15914497,
 15926884,
 15024671,
 15939618,
 15043144,
 15053294,
 15950510,
 15072599,
 15954582,
 15094729,
 15957773,
 15983050,
 15097565,
 16001987,
 15098596,
 15114450,
 15115673,
 15116890,
 16012260,
 16026075,
 16040153,
 16052779,
 15122395,
 15130764,
 16070011,
 16096254,
 16109014,
 15132653,
 16143701,
 16178088,
 15149053,
 15162267,
 15166761,
 15216905,
 15217088,
 15230450,
 15247678,
 15250951,
 15256715,
 16192132,
 15286045,
 16207508,
 15328919,
 16229723,
 15336197,
 15342084,
 15355696,
 15360554,
 16246568,
 16297519,
 16300678,
 16302846,
 16346266,
 16353883,
 15379201,
 16355347,
 15405332,
 16365205,
 15406710,
 15420226,
 15435694,
 16403903,
 16405076,
 16442292,
 15464357,
 16453692,
 15484924,
 16493494,
 15492694,
 16568427,
 16574800,
 15496152,
 16599263,
 16599460,
 15499376,
 16630783,
 16662423,
 16665876,
 15500042,
 16687380,
 17711999,
 16709311,
 17713737,
 16716143,
 17734201,
 17752507,
 16749331,
 17780207,
 17785847,
 16757056,
 17791482,
 17795412,
 16797566,
 16823279,
 16945436,
 17824940,
 17831075,
 16972979,
 16975615,
 17000460,
 17030100,
 17070047,
 17832768,
 17071648,
 17859080,
 17890798,
 17075885,
 17088380,
 17892626,
 17909014,
 17920957,
 17923236,
 17113225,
 17147256,
 17151845,
 17956375,
 17992895,
 17161870,
 17168028,
 17995629,
 18007859,
 17170225,
 17172556,
 18040546,
 17172633,
 17173015,
 18060003,
 17191860,
 18061472,
 17191957,
 17206887,
 18072628,
 18073252,
 18077204,
 17207282,
 17221782,
 17240514,
 18090895,
 18096536,
 17302725,
 18096865,
 18131553,
 18151380,
 18152764,
 17329552,
 18194698,
 17366144,
 18208652,
 17382991,
 18209082,
 17383973,
 18214402,
 18214631,
 18221893,
 17399529,
 18224208,
 17424708,
 18242088,
 17438902,
 18272559,
 18274159,
 18301586,
 18311038,
 18326185,
 18331520,
 18339649,
 18344621,
 18345004,
 18345065,
 18378046,
 18387756,
 18431594,
 18432523,
 18444090,
 17445568,
 18457045,
 17460467,
 18458784,
 18464680,
 18509024,
 17464924,
 17465173,
 17514102,
 17547943,
 18522455,
 ...]

In [23]:

def get_recommendations(df, u_id, N):
    i_ids = list(df.i_id.unique())
    fm = {'u_id': [u_id for i in range(len(i_ids))], 'i_id': i_ids}
    pred = pd.DataFrame.from_dict(fm)
    res = svd.predict(pred)
    pred['pred_rating'] = res
    pred.sort_values(by=['pred_rating'], ascending=False, inplace=True)
    return pred.head(N)

In [24]:

get_recommendations(df_rec, df_rec.sample().u_id.iloc[0], 10)

         u_id     i_id  pred_rating
1    85624211   189821     0.891486
395  85624211  8706915     0.885589
327  85624211  6065318     0.878450
225  85624211  5074013     0.876380
25   85624211  1356190     0.874814
9    85624211    37738     0.874684
108  85624211   929914     0.873821
54   85624211   542067     0.871155
166  85624211  4243309     0.869939
27   85624211   345075     0.869536